# Wallet Connect
VITE_WALLET_CONNECT_PROJECT_ID=
# Pinata / Ipfs
VITE_PUBLIC_PINATA_JWT=
# Galadriel
VITE_OPEN_AI_VISION_CONTRACT_ADDRESS=
# Wallet private key (need some GAL from the Galadriel faucet)
VITE_WALLET_PK=
# BNB Greenfield (default testnet config)
VITE_GRPC_URL=https://gnfd-testnet-fullnode-tendermint-ap.bnbchain.org
VITE_GREENFIELD_RPC_URL=https://gnfd-testnet-fullnode-tendermint-ap.bnbchain.org
VITE_GREEN_CHAIN_ID=5600
VITE_BSC_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545
VITE_BSC_CHAIN_ID=97